body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#news {
    padding: 50px;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 20px;
}

.news-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-content {
    padding: 20px;
}

.news-content h3 {
    margin-bottom: 10px;
}

.news-content p {
    margin-bottom: 5px;
}
