/* Add your CSS styles for the esports page here */
body {
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#trailer, #info, #sponsors {
    padding: 50px;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255,255,255,0.36);
    border-radius: 25px;
}

.event-item {
    margin: 20px;
    text-align: center;
    width: 45%; /* Adjust as needed */
}

.event-item img {
    width: 50px; /* Adjust as needed */
    margin-bottom: 10px;
    filter: contrast(100);
}

.event-item p {
    margin: 5px 0;
    color: white;
    font-size: 20px;
    font-weight: 790;
}